body{
    overflow-x: hidden;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif, sans-serif;
}
.form-control::-webkit-input-placeholder {
    color: rgba(128, 128, 128, 0.699);
}
#GetApp {
    position: relative;
    background-image: url('/src/assets/pexels-cottonbro-5053835.jpg');
    background-size: cover; 
    min-height: 350px;
}
#GetApp::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#GetApp > * {
    position: relative;
    z-index: 2;
}
#GetApp button{
    background-color: #4ea334;
    color: whitesmoke;
    min-height: 40px;
    min-width: 180px ;
}
#GetApp h6{
 font-weight: 320;
 color: rgba(245, 245, 245, 0.884);
}
#GetApp p{
    color: rgba(250, 250, 250, 0.856);
}
#GiveFeedback form{
    border: none;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}
#AppBenefits h3{
    margin-top: 2rem;
    font-weight: 500;
    text-align: center;
    word-spacing: 8px;
 } 
 #AppStatistics h3{
    display: none;
}
 #AppImages h3{
   font-weight: 500;
   text-align: center;
   margin-top: 5rem;
   font-stretch: ultra-expanded;
}
#AppPlans h3{
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
    padding-top: 2rem;
    word-spacing: 5px;
}
#AppPlans h4,p{
   font-weight: 500;
}
#ActivityGoals h3{
    min-width: 100%;
}
#ActivityGoals h2{
    word-spacing: 6px;
    font-weight: 550;
}
#ActivityGoals p{
    font-weight: 450;
}
#GiveFeedback h3{
    word-spacing: 8px;
}
#GiveFeedback button{
    min-height:45px;
    min-width: 120px;
}
#OurTeam .card{
    width: 90%;
}
#OurTeam h3{
    word-spacing:3px;
}
#AppDownload h3{
    /* word-spacing: px; */
}
.card{
    border: none;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.correct{
    color:blueviolet;
}
.buttonaccess{
    background-color: white;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    color: blueviolet;
    font-size: 12px;
    height: 40px;
}

.seventhplace p{
    max-width: 600px;
}
.ppicture{
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
}
.reducespacing h5{
    margin-bottom: 0.2px;
}

.signinbutton{
    background-color: #6578DF;
}
.ninthplace .card{
    height: 60px;
}
.appstore{
    background-color: white;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
    color: #51A837;
    font-size: 12px;
    height: 40px;
    border-color: #51A837;
    border-width: thin;
}
.tenthplace button{
    width: 130px;
}
.android{
    background-color: #51A837;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 12px;
    height: 40px;
}
.manholdingphone{
    max-height: 280px;
    width: 100%;
}
nav h2{
    display: none;
}
nav{
    background-color: white;
}
nav button{
    min-width: 120px;
    border-width: thick;
}
footer h1{
    display: none;
}

.secondarytext{
   color: rgba(128, 128, 128, 0.699);
}
.hyphen{
    color: rgba(128, 128, 128, 0.096);
}
.trial{
    margin-top: -2.5rem;
    margin-left: 0.5rem;
}
.buttonweb{
    background-color: white;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    color: black;
    font-size: 12px;
    max-width: 80px;
}
.msg{
    height: 150px;
}
/* .form-control{
    min-width: 275px;
    min-height: 48px;
} */

