*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input,button,textarea{
    font: inherit;
}
:focus{
    color: var(--purplecolor);
    box-shadow: 0 0 1px 2px var(--purplecolor);
    outline: 0;
    text-decoration: underline;
}
:root{
    --FF: 'Work Sans', sans-serif, Arial, Helvetica;
    --HFW: 500px;

    /* Colors */
    /* --secondarytextcolor:rgba(143, 142, 142, 0.699); */
    --secondarytextcolor: rgba(100, 100, 100, 0.699);

    --greencolor: #51A837;
    --purplecolor:blueviolet;
    --bluecolor: #6578DF;
    --coverbackgroundcolor: rgba(0, 0, 0, 0.5);
    --footerbackgroundcolor: rgba(0, 0, 0, 0.05);
    --herobuttoncolor:whitesmoke;
    --heroheadingcolor:rgba(245, 245, 245, 0.884);
    --mainbackgroundcolor:white;
    --mainfontcolor:black;
    --fadedeffectcolor: rgba(128, 128, 128, 0.096);

    /* Border */
    --boxshadowcolor: rgba(0, 0, 0, 0.2);
}
body{
    font-family: var(--FF);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.form-control::-webkit-input-placeholder {
    color: rgba(128, 128, 128, 0.699);
}
h3{
    font-weight: 500px;
}




#getApp {
    background-image: url('/src/assets/pexels-cottonbro-5053835.jpg');
    background-size: cover; 
    min-height: 350px;
    position: relative;
}
#getApp::before {
    background: var(--coverbackgroundcolor);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
#getApp > * {
    position: relative;
    z-index: 2;
}



.getApp__btn{
    background-color: var(--greencolor);
    color: var(--herobuttoncolor);
    min-height: 40px;
    min-width: 180px ;
}
.getApp__h6{
 color: var(--heroheadingcolor);
 font-weight: 320;
}
.contact__form{
    border: none;
    box-shadow: 0 4px 8px 0px var(--boxshadowcolor);
}
.appbenefits__h3{
    margin-top: 2rem;
    text-align: center;
 } 
 .appimages__h3{
   margin-top: 5rem;
   text-align: center;
}
.appPlans__h3{
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;
}
.appPlans_h4{
   font-weight: 500;
}
.appPlans_p{
    font-weight: 500;
 }
 .appPlans__li{
    text-decoration: none;
    border: none;
 }
.activitygoals__h3{
    font-weight: 550;
}
.activitygoals__p{
    font-weight: 400;
    /* color: var(--secondarytextcolor); */
}
.activitygoals__img{
    max-height: 300px;
    width: 100%;
}
.contact__btn{
    min-height:45px;
    min-width: 120px;
}
.ourteam__card{
    width: 90%;
}
.ourteam__img{
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-top: -2.5rem;
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
}
.usersfeedback__img{
    border-radius: 50%;
    max-height: 60px;
    object-fit: cover;
    width: 60px;
}
.usersfeedback__h5{
    margin-bottom: 0.2px;
}


/* Footer */ 
#footer{
    background-color: var(--footerbackgroundcolor);
    text-align: center;
}


/* header */
.header{
    background-color: var(--mainbackgroundcolor);
}
.header__btn{
    border-width: thin;
    min-width: 120px;
}
.header__a{
    font-weight: 500;
}


/* buttons */

.btn--purple{
    background-color: var(--mainbackgroundcolor);
    box-shadow: 0 4px 8px 0px var(--boxshadowcolor);
    color: var(--purplecolor);
    font-size: 12px;
    height: 40px;
    width: 100%;
}
.btn--blue{
    background-color: var(--bluecolor);
}
.btn--appstore{
    background-color: var(--mainbackgroundcolor);
    border-color: var(--greencolor);
    border-width: thin;
    box-shadow: 0 4px 8px 0px var(--boxshadowcolor);
    color: var(--greencolor);
    font-size: 12px;
    height: 40px;
}
.btn--green{
    background-color: var(--greencolor);
    box-shadow: 0 4px 8px 0px var(--boxshadowcolor);
    color: var(--mainbackgroundcolor);
    font-size: 12px;
    height: 40px;
}
.btn--white{
    background-color: var(--mainbackgroundcolor);
    box-shadow: 0 4px 8px 0px var(--boxshadowcolor);
    color: var(--mainfontcolor);
    font-size: 12px;
    max-width: 80px;
    width: 100%;
}



.card{
    border: none;
    box-shadow: 0 4px 8px 0px var(--boxshadowcolor);
}
.correct{
    color:var(--purplecolor);
}

.secondarytext{
   color:var(--secondarytextcolor);
}
.hyphen{  
      color: var(--fadedeffectcolor);
}
.offscreen{
    position: absolute;
    left: -1000px;
}
